/* <main> tag css starts from here */

main{
    box-sizing: border-box;
}

/* section 1 works starts here */
main #sectionOne{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background-image: url("./images/sectionOneBcg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
main #sectionOne .sectionOneContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

main #sectionOne .sectionOneContainer #secOneHeadings{
    color: white;
    width: 65%;
}
main #sectionOne .sectionOneContainer #secOneHeadings h1{
    font-size: 9vw;
    font-weight: 800;
}
main #sectionOne .sectionOneContainer #secOneHeadings h2{
    padding: 0%;
    font-size: 5vw;
    font-weight: 500;
    text-align: right;
}

main #sectionOne .sectionOneContainer #secOneHeadings button{
    float: right;
    font-size: medium;
    border: 1px solid white !important; 
    background: transparent !important; 
    color: #ffff !important; 
    margin: 10px 0 30px 0 !important;
}

@media screen and (max-width: 990px) {
    main #sectionOne .sectionOneContainer #secOneHeadings{
        width: 90%;
    }
    main #sectionOne .sectionOneContainer #secOneHeadings h1{
        font-size: 14vw;
    }
	main #sectionOne .sectionOneContainer #secOneHeadings h2{
        font-size: 9vw;
        text-align: left;
    }
    main #sectionOne .sectionOneContainer #secOneHeadings button{
        float: left;
    }
}


/* section 2 works starts here */
main #sectionTwo{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background-image: url("./images/sectionTwoBcg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
main #sectionTwo .sectionTwoContainer{
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
main #sectionTwo .sectionTwoContainer #sectionTwoContent{
    margin-left: 5%;
    width: 55%;
    text-align: left;
}
main #sectionTwo .sectionTwoContainer #sectionTwoContent button{
    /* font-size: medium; */
    border: 1px solid white !important; 
    background: transparent !important; 
    color: #ffff !important; 
    margin: 10px 0 30px 0 !important;
    padding: 0 13px 0 13px !important;
}
main #sectionTwo .sectionTwoContainer #sectionTwoImage{
    width: 45%;
    height: 70%;
    position: relative;
    right: -5%;
}

@media screen and (max-width: 990px) {
    main #sectionTwo .sectionTwoContainer{
        width: 100%;
        display: flex;
        align-items: flex-start;
        /* background: lightblue; */
        height: 76%;
    }
    main #sectionTwo .sectionTwoContainer #sectionTwoContent{
        position: absolute;
        align-self: end;
        width: 90%;
        /* background: lightgreen; */
    }
	main #sectionTwo .sectionTwoContainer #sectionTwoImage{
        align-self: start;
        width: 100%;
        right: -20%;
        height: 40%;
        /* background: lightgreen; */
    }
    #sectionTwoContent h1{
        font-size: 6vw !important;
    }
    #sectionTwoContent h2{
        font-size: 4vw !important;
    }
    #sectionTwoContent h2 #secTwoSmallText{
        font-size: 3vw !important;
    }
    #sectionTwoImage img{
        width: inherit;
    }
}

/* section 3 works starts here */
main #sectionThree{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    background: black;
}
main #sectionThree .sectionThreeContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    padding: 0 2% 0 2%;
}
main #sectionThree .sectionThreeContainer #secThreeImage{
    height: 400px;
    width: 40%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
main #sectionThree .sectionThreeContainer #secThreeImage h1{
    font-size: 4vw; 
    font-weight: 700;
    margin-bottom: 10px;
    color: white;
    display: none;
}
main #sectionThree .sectionThreeContainer #secThreeImage img{
    height: inherit;
}
main #sectionThree .sectionThreeContainer #secThreeContent{
    margin-left: 25px;
    padding: 0 0 30px 30px;
    border-left: 2px solid #ffff;
    color: white; 
    width: 50%;
}
main #sectionThree .sectionThreeContainer #secThreeContent div{
    background: #d91e27;
    padding: 5px;
    margin: 15px 0 0 0;
}
@media screen and (max-width: 990px) {
    main #sectionThree{
        height: initial;
    }
    main #sectionThree .sectionThreeContainer{
        flex-direction: column;
    }
    main #sectionThree .sectionThreeContainer #secThreeImage{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 20px 0 20px 0;
    }
    main #sectionThree .sectionThreeContainer #secThreeImage h1{
        font-size: 6vw; 
        display: block;
    }
    main #sectionThree .sectionThreeContainer #secThreeImage img{
        object-fit: contain;
    }
    main #sectionThree .sectionThreeContainer #secThreeContent{
        margin-left: 0;
        padding: 0;
        border-left: 0px; 
        width: 100%;
    }
    main #sectionThree .sectionThreeContainer #secThreeContent div{
        background: #d91e27;
        padding: 1px 5px 1px 5px;
    }
    main #sectionThree .sectionThreeContainer #secThreeContent h1{
        display: none;
    }
}


/* section 4 works starts here */
main #sectionFour{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    background: black;
}
main #sectionFour .sectionFourContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding: 0 2% 0 2%;
}
main #sectionFour .sectionFourContainer #secFourBottomBtn{
    margin-top: 20px;
    flex: 1;
    align-self: flex-start;
    display: none;
}
main #sectionFour .sectionFourContainer #secFourHeading{
    display: flex;
    align-items: center;
}
main #sectionFour .sectionFourContainer #secFourHeading h1{
    flex: 1;
    justify-self: end;
    font-size: 4vw; 
    font-weight: 700;
    margin-bottom: 20px;
    color: white !important;
}
main #sectionFour .sectionFourContainer #secFourCards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    overflow-x: scroll;
}
main #sectionFour .sectionFourContainer #secFourCards::-webkit-scrollbar { 
    display: none; /* Safari and Chrome */
}

@media screen and (max-width: 990px) {
    main #sectionFour{
        height: 70vh;
    }
    main #sectionFour .sectionFourContainer #secFourBottomBtn{
        display: block;
    }
    main #sectionFour .sectionFourContainer #secFourHeading h1{
        font-size: 6vw; 
        padding-left: 10px;
    }
    main #sectionFour .sectionFourContainer #secFourHeading button{
        display: none;
    }
    main #sectionFour .sectionFourContainer #secFourCards{
        justify-content: start;
    }
    main #sectionFour .sectionFourContainer #secFourCards .card{
        min-width: 287px !important;
    }
}

/* section 5 works starts here */
main #sectionFive{
    width: 100%;
    height: 110vh;
    display: flex;
    background: rgb(0, 0, 0);
}
main #sectionFive .sectionFiveContainer{
    width: 100%;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2% 0 2%;
    background: #D91E27;
}
main #sectionFive .sectionFiveContainer #secFiveContent{
    margin-top: 50px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
main #sectionFive .sectionFiveContainer #secFiveContent h1{
    font-weight: 700;
    /* font-size: larger; */
}
main #sectionFive .sectionFiveContainer #secFiveContent p{
    font-size: 18px;
    padding: 0 5% 0 5%;
}
main #sectionFive .sectionFiveContainer #secFiveImage{
    width: 700px;
    height: 410px;
}
main #sectionFive .sectionFiveContainer #secFiveImage img{
    height: inherit;
}
main #sectionFive .sectionFiveContainer #secFiveCounters{
    width: 100%;
    display: flex;
    justify-content: center;
}
main #sectionFive .sectionFiveContainer #secFiveCounters div{
    width: 30%;
    text-align: center;
}

@media screen and (max-width: 990px) {
    main #sectionFive{
        width: 100%;
        height: 50vh;
    }
    main #sectionFive .sectionFiveContainer{
        height: 270px;
    }
    main #sectionFive .sectionFiveContainer #secFiveContent{
        width: 80%;
    }
    main #sectionFive .sectionFiveContainer #secFiveContent p{
        display: none;
    }
    main #sectionFive .sectionFiveContainer #secFiveImage{
        width: 100%;
        height: 190px;
    }
    main #sectionFive .sectionFiveContainer #secFiveCounters div p{
        display: block;
        font-size: 10px;
    }
}

/* section 6 works starts here */
main #sectionSix{
    width: 100%;
    height: 75vh;
    display: flex;
    overflow: hidden;
    background: rgb(0, 0, 0);
}
main #sectionSix .sectionSixContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2% 0 2%;
}
main #sectionSix .sectionSixContainer #secSixHeading{
    margin: 10px 0 30px 0;
    color: white;
}
main #sectionSix .sectionSixContainer #secSixHeading h1{
    font-weight: 800 !important;
}
main #sectionSix .sectionSixContainer #carousel{
    display: none;
}
main #sectionSix .sectionSixContainer #secSixCards{
    display: flex;
    justify-content: center;
    /* overflow-x: scroll; */
    gap: 15px;
}

main #sectionSix .sectionSixContainer #secSixLogos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
main #sectionSix .sectionSixContainer #secSixLogos h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 800 !important;
    color: white;
}
main #sectionSix .sectionSixContainer #secSixLogos div{
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

@media screen and (max-width: 990px) {
    main #sectionSix{
        height: 70vh;
    }
    main #sectionSix .sectionSixContainer #carousel{
        display: block;
        width: 80%;
    }
    main #sectionSix .sectionSixContainer #secSixCards{
        display: none;
    }
    main #sectionSix .sectionSixContainer #secSixLogos div{
        width: 100%;
    }
}

/* section 7 works starts here */
main #sectionSeven{
    height: 90vh;
    width: 100%;
    background: url("./images/secSevenBcg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #D91E27;
}
main #sectionSeven .sectionSevenContainer{
    text-align: center;
    height: 100%;
}
main #sectionSeven .sectionSevenContainer div{
    padding-top: 30px;
    color: white;
    display: flex;
    justify-content: center;
}
main #sectionSeven .sectionSevenContainer div h1{
    width: 70%;
    text-align: center;
}
main #sectionSeven .sectionSevenContainer #secSevenButtons {
    display: flex;
    height: 70vh;
}
main #sectionSeven .sectionSevenContainer #secSevenButtons div{
    flex: 1;
    height: 100px;
}
main #sectionSeven .sectionSevenContainer #secSevenButtons div img{
    object-fit: contain;
    object-position: center;
}
main #sectionSeven .sectionSevenContainer #secSevenButtons #button1{
    align-self: center;
}
main #sectionSeven .sectionSevenContainer #secSevenButtons #button2{
    align-self: center;
}

@media screen and (max-width: 990px) {
    main #sectionSeven{
        height: 35vh;
    }
    main #sectionSeven .sectionSevenContainer div{
        padding-top: 25px;
    }
    main #sectionSeven .sectionSevenContainer div h1{
        font-size: larger;
        width: 70%;
        font-weight: 700;
    }
    main #sectionSeven .sectionSevenContainer #secSevenButtons {
        height: 22vh;
        gap: 10px;
    }
    main #sectionSeven .sectionSevenContainer #secSevenButtons div{
        height: 50px;
        display: flex;
    }
    main #sectionSeven .sectionSevenContainer #secSevenButtons #button1{
        justify-content: right;
        align-self: flex-end;
        margin-left: -15px;
    }
    main #sectionSeven .sectionSevenContainer #secSevenButtons #button2{
        justify-content: left;
        align-self: flex-end;
    }
}